.SavedArticleItem img{
    width: 100%;
    height: 60%;
}


.SavedArticleItem{
    display: block;
    border: solid 0.5px;
    width: 30rem;
    height: 30rem;
    padding: 1%;
    margin: 5px;
}

.SavedArticleItemContent{
    width: 100%;
    height: 95%;
}

.SavedArticleItemContent h4{
    margin: 1%;
    text-align: center;
}

#readBtn{
    border: 1px solid #215393;
    background-color: #d9e5f5;
    color: #215393;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-left: 31%;
    margin-top: 10%;
    width: 40%;
    height: 14%;
    font-size: x-large;
}

#comments{
    margin-right: 5%;
    margin-left: -7%;
}